<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->

<input type="text" class="form-control" [(ngModel)]="serverName" >
<!--<div>{{serverName}}</div>-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreate()">Add server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated ">Server was created! Server name is  {{serverName}} </p>
<!--<ng-template #noserver>No server was created! </ng-template>-->
<app-server *ngFor="let serv of servaks"></app-server>

<hr>





<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p >{{userName}}</p>
<!--<button class="btn btn-primary" [disabled]="userName===''" (click)="onUpdateUserName($event)">Reset</button>-->
<button class="btn btn-primary" [disabled]="userName===''" (click)="userName=''">Reset</button>
